body,td,th {
    font-family: helvetica;
    font-size: 11px;
    color: #414141;
    font-size: 15px;
}
body {
    /*background-image: linear-gradient(to top left, #F7FF87 0%, #47CF42 100%);*/
    /*background: #BFFFBF;*/
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}
.style1 {color: #ffffff}
a {
    font-size: 11px;
    color: #ffffff;
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:active {
    text-decoration: none;
}
.style2 {color: #005083;}
.style3 {color: #B7B7B7}

.blink{
    -webkit-animation:blink 3s infinite;
    animation:blink 3pxs infinite;
}

@-webkit-keyframes blink
{
    from {visibility: hidden;}
    to{visibility: }
}

@keyframes blink
{
    from {visibility: hidden;}
    to{visibility: }   
}

/*tambahan*/



/*fieldset{
  border: none;
  background-color: #FADBA0;
}*/

a.dalam{
    font-size: 11px;
    color: #000000;
}

img{
    border: none;
}


h2{
    font-family:Arial ;
    font-size: medium;
    font-weight:bold;
    color:#C76C23;
}

h4{
    font-family:Arial ;
    font-size: 12px;
    font-weight:bold;
    color:#0033FF;
}

input {
    margin-bottom:0.5em;
}

select {
    margin-bottom:0.5em;
}

dt {
    width:15em; text-align:right;
}
dd {
    margin-left:1px;
}
.note {
    display:block; margin-bottom:0.5em; font-size:0.9em;
}

label {
    font-weight:bold;
}

star{
    color:red ;
}

.plain {
    height:20px; vertical-align:middle;
}

.tabeldalambesar{
    /*background-image: linear-gradient(to bottom, #BFFFBF 0%, #FFFFFF 100%);*/
    border: 0;
    width:570;
}

.formbesar{
    width: 100%;
}

.tabeldalamform{
    background-color: #ffffff;
    border: 0;
    width: 95%;
}
.tabeldalambesar tr td, .tabeldalamform tr td {
    vertical-align: top;
}
.tabeldalambesar tr td a, .tabeldalamform tr td a {
    color: blue;
}

.tddfkiri{
    text-align:right;
    width: 35%;
}

.tddfkanan{
    text-align:left;
    width: 65%;
    font-weight:normal;
    font-size: 12px;
}

.tabelkecil{
    background-color: #E0E2E4;
    border: none;
    width: 100%;
}

.trkecil0{
    background-color: #CED1D5;
    font-weight:normal;
    font-size: 12px;
}
.trkecil1{
    background-color: #F4F5F7;
    font-weight:normal;
    font-size: 12px;
}
.tdkecil{
    font-weight:normal;
    font-size: 14px;
}


.idalam{
    font-size: 9px;
    text-align: center;
}
.ipage{
    font-size:9px;
    font-weight:bold;
    text-align: center;
}

.sdalam{
    font-size:9px;
    font-weight:normal;
    text-align: left;
}
.bdalam{
    font-size:9px;
    font-weight: normal;
    text-align: center;
}


/* Here's where we define the side-by-side layout */
dl {
    clear:both;
}
dt {
    float:left;clear:left;
}
dd {
    overflow:hidden;clear:right;height:1%;
}
dd.x-form-clear {
    clear:both;
}

.button {
    
}
.groupClass {
    font-weight: bold; 
    font-size: smaller; 
    font-family: verdana
}
.itemClass {
    margin-left: 6px; 
    font-size: smaller; 
    font-family: verdana;
    text-transform: capitalize;
}
.cdisabled {
    background-color: grey;
}

#footer {
    width: 869px;
}

#header {
    padding: 20px;
    height: 100px;
}

#header #logo-ppdb {
    float: left;
}

#header #logo-sda {
    float: right;
}

#content{
    min-height: 500px;
    margin-top: 20px;
    width: 869px;
    background: #EBF1F7;
    /*background: url(../images/page.png) repeat-y;*/
}

#sidebar{
    float: left;
    width: 220px;
    margin: 0 30px 0 10PX;
}



#nav {
    margin-left: 10px;
    width: 220px;
    float: left;
    font-size: 12px;
}
.boxnav {
    width: 220px;
    border: 1px solid #cfcdcd;
    margin: 0 0 15px 0;
    /*background: url(../images/back_nav.png) repeat-x;*/
}
.boxvalidator {
    width: 100%;
    border: 1px solid #cfcdcd;
    margin: 0 0 15px 0;
    /*background: url(../images/back_val.png) repeat-x;*/
}
.space {
    padding:10px;
}
.titlenav {
    width: 210px;
    height: 24px;
    background: url(../images/septitlenav.png) repeat-x 0 100%;
    font-size: 1.4em;
    color: #2e577a;
}
.titlenav a{
    text-decoration:none;
}

.menunav {
    width: 200px;
    margin: 0 0 0 10px;
    padding: 10px 0;
}
.list{
    list-style-type: none;
}
.menunav li, .menunav li ul li {
    width: 200px;
    border-bottom: 1px solid #e7e7e7;
    list-style-type: none;
}
.menunav li a, .menunav li a:link, .menunav li a:visited, .menunav li ul li a, .menunav li ul li a:link, .menunav li ul li a:visited {
    display: block;
    font-size: 1.2em;
    color: #5a5a5a;
    padding: 10px 23px;
}
.menunav li a:hover, .menunav li ul li a:hover {
    /*color: #0066FF;*/
    color: #ffffff;
    background: #5a5a5a;
    text-decoration: none;
}

.menunav li ul {
    display: none;
}

.menunav li:hover ul {
    display: block;
    position: absolute;
    border: 1px solid #cfcdcd;
    background: #F4F5F7;
    /*background: url(../images/back_nav.png) repeat-x;*/
    margin-left: 160px;
    margin-top: -37px;
    padding: 0;
}

.error{
   
    background-color: #DBB;
    border: 1px solid #A00;
    color: #A00;
    display: block;
    text-align: center;
    margin: 14px 0 14px 0;
    padding: 12px 10px 12px 10px;
}

/*.blink {
    -webkit-animation: blink 0.5s ease infinite;
    -moz-animation: blink 0.5s ease infinite
    -o-animation: blink 0.5s ease infinite;
    animation: blink 0.5s ease infinite
}*/
 
/*@-webkit-keyframes blink {
    from { background-color: yellow }
    to {background-color: rgb(240, 240, 132)}
}
 
@-moz-keyframes blink {
    from { background-color: yellow }
    to {background-color: rgb(240, 240, 132)}
}
 
@-o-keyframes blink {
    from { background-color: yellow }
    to {background-color: rgb(240, 240, 132)}
}
 
@keyframes blink {
    from { background-color: yellow }
    to {background-color: rgb(240, 240, 132)}
}*/

.blink {
    -webkit-animation: blink 0.5s ease infinite;
    -moz-animation: blink 0.5s ease infinite
    -o-animation: blink 0.5s ease infinite;
    animation: blink 0.5s ease infinite
}
 
@-webkit-keyframes blink {
    from { background-color: green }
    to {background-color: rgb(50, 240, 50)}
}
 
@-moz-keyframes blink {
    from { background-color: green }
    to {background-color: rgb(50, 240, 50)}
}
 
@-o-keyframes blink {
    from { background-color: green }
    to {background-color: rgb(50, 240, 50)}
}
 
@keyframes blink {
    from { background-color: green }
    to {background-color: rgb(50, 240, 50)}
}